/* Coolors Exported Palette - coolors.co/fde8e9-e3bac6-cc8b86-b5d99c-daa89b */

/* HSL */
//$color1: hsla(357%, 84%, 95%, 1);
//$color2: hsla(342%, 42%, 81%, 1);
//$color3: hsla(4%, 41%, 66%, 1);
//$color4: hsla(95%, 45%, 73%, 1);
//$color5: hsla(12%, 46%, 73%, 1);

/* RGB */
$white-pink: rgb(253, 232, 233);
$purple-pink: rgb(227, 186, 198);
$light-red: rgb(204, 139, 134);
$light-green: rgb(181, 217, 156);
$brown-pink: rgb(218, 168, 155);
$medium-green:#729956;