<h3>Search for a User!</h3>

<div id="friendsDropdown">
	Add a user: <input type="text" placeholder="Search.." id="searchUser" name="username" onkeyup="searchUserFilter()"><br>
	{{#each friends as |f|}}
		<a href="/user/{{ f.username }}">{{ f.username }}</a><br>
	{{/each}}
</div>

<script src="/js/search.js"></script>
