<h1>Create a Bill:</h1>


<form action="">
  Amount:<br>
  <input type="text" name="amount">
  <br>
  Split with:<br>
  <input type="text" name="splitWith">
  <br><br>
  <input type="submit" value="Split">
</form> 
