<h1>Create a Bill:</h1>

<button onclick="onClickUserDropdown()">Add User</button>
<div id="friendsDropdown"">
	<input type="text" placeholder="Search.." id="searchUser" onkeyup="searchUserFilter()"><br>
	{{#each friends as |f|}}
		<a onclick="onClickUsername('{{ f.username }}')">{{ f.username }}</a><br>
	{{/each}}
</div>

<form action="" method="post">
  Amount:
  <input type="text" name="amount">
  Split with:
  <input type="text" name="splitWith" id="splitWith">

  <textarea name="comment" maxlength="128" rows="3">

  <input type="submit" value="Submit">
</form>

<script src="/js/search.js"></script>
