
{{#unless bills}}
<h2>You have not created any bills yet</h2>
<a href="/user/index"><h4>You can create one here</h4></a>

{{else}}

<h2>My Bills</h2>

<section>

{{#each bills as |bill|}}

<article>

	<span class="amount">${{ bill.amount }}</span>
	<span class="date">{{bill.dateCreated}}</span>
	<span class="view"><a href="/bill/view/{{bill._id}}">View Bill <i class="fas fa-arrow-right"></i></a></span>

</article>


{{/each}}

</section>

{{/unless}}