<!doctype html> <!--everything in the layout.hbs goes onto to every handlebrs webpage: this the the template -->
<html>
<head>
	<link rel="stylesheet" href="/css/landingpage.css" type="text/css">
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <link rel="stylesheet" href="/css/login.css" typr="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
     <meta charset="utf-8">
	<title>Oink</title>
</head>
<body>
	
	{{{body}}} <!-- think of body as a variable as the other hbs files--> 
	
</body>
</html>
