<!doctype html> <!--everything in the layout.hbs goes onto to every handlebrs webpage: this the the template -->
<html>
<head>
	<title>Oink</title>
</head>
<body>
	
	{{{body}}} <!-- think of body as a variable as the other hbs files--> 

	<form action="/user/logout" method="get">
	    <input type="submit" name="Logout" value="Logout" />
	</form>
	
</body>
</html>
