<h1>Login Page</h1>

<form method="post">

	{{#if error}}
		<h3>{{ error }}</h3>
	{{/if}}

	Username: <input type="text" name="username">
	<br>

	Password: <input type="password" name="password">
	<br><br>
	<input type="submit" value="Submit">
</form>

Don't have an account? <a href="register">Register Today!</a>