<h2>My Balances</h2>

<div class="user-profile-content" id="balances">
	<div class="user-profile-section" id="pick-friends">
	    <h3>Friends</h3>
	    <section id="friends" class="outline">

	        <ul>
	        {{#each friends as |f|}}
	            <li onClick ="showBalances('{{ f.user }}')">{{f.user}}</li>
	        {{/each}}
	        </ul>

	    </section>
	</div>

	<div class="user-profile-section" id="graph">
		<h3 id="username-balances">Choose a friend</h3>
		

	    
	</div>

</div>

<section id="transactions">
	

    

        
</section>



<script src="/js/my-balances.js"></script>