<h1>Registration</h1>

<form action="" method="post">

  {{#if error}}
    <h3 class="error">{{ error }}</h3>
  {{/if}}
  
  Username:<br>
  <input type="text" name="username" >
  <br><br>

  Password:<br>
  <input type="password" name="password" >
  <br><br>

  Email:<br>
  <input type="text" name="email" >
  <br><br>


  <input type="submit" value="Submit">
</form> 

Already have an account? <a href="login">Login now!</a>