complete-form {
    background-color: blue;
    text-align: center;
    width: 50%;
    margin: auto;
}

div .complete-form {
    
    width: 40%;
    margin: auto;
}

div.container {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
input[type=text], input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
    float: right;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}
  
  input[type=submit]:hover {
    background-color: #45a049;
}

label {
    font-size: 20px;
    width: 100%;
}
/* .complete-form h4 {
    background-color: yellow;
    text-align: left;
    width: 100%;

} */

#already {
    text-align: left;
    width: 100%;
    font-family: Tahoma, Geneva, sans-serif;
}