$white-pink: rgb(253, 232, 233);
$purple-pink: rgb(227, 186, 198);
$light-red: rgb(204, 139, 134);
$light-green: rgb(181, 217, 156);
$brown-pink: rgb(218, 168, 155);
$dark-green:#729956;
$medium-green:#7EB77F;

$green:green;

$hot-pink:#F92A82;
$bright-green:#7AC74F;