@import "palette";
@import "mixins";
@import "fonts";

*{
    
    padding:0;
    margin:0;
    font-size:100%;
    box-sizing: border-box;
    color:black;
    list-style: none;
    border:none;
    text-decoration: none;
    outline:none;
    font-family: $default;
}


div.container{
    transition: margin-left ease-in-out 0.5s;
}
    
header{
    width:100%;
    position: sticky;
    top:0; left:0;
    border-bottom:3px solid $purple-pink;
    box-shadow: 4px 4px 4 grey;
    
    background-color:$light-red;
    
    @include flex(row, no-wrap, center, center, center);
    
    div.left-side-header, div.right-side-header{
        width:50%;
        padding:0 2%;
        margin:0;
        > *{
            font-size:1.3em;
        }
    }
    div.left-side-header{
        @include flex(row, no-wrap, flex-start, center, flex-start);
        
        
        h1{
            font-size:2.4em;
            font-family: $oswald;
            padding:0 3%;
        }
        i.hidden{
            display:none;
        }
        i:hover{
            cursor: pointer;
        }

    }
    div.right-side-header{
        @include flex(row, no-wrap, center, center, flex-end);
        h3.username{
            width:60%;
            text-align: right;
            font-family: $open-sans-condensed;
            font-size: 1.5em;
            padding:0 4%;
            letter-spacing: 0.5%;
        }
        input[type="submit"]{
            background-color:$medium-green;
            color:$white-pink;
            padding:4% 10%;


            
            &:hover{
                cursor: pointer;
            }
        }

    }  
}

nav.main-side-nav{
    position:fixed;
    z-index:50;
    top:0;left:0;
    height:100%;
    width:0;
    background-color:$light-red;
    padding-top:10vh;
    overflow-x: hidden;
    transition:width ease-in-out 0.5s;
    
    ul{
        
        a{
            display:block;
            width:100%;
            padding:4% 0 4% 16%;
            transition:0s;            

            li{
                transition:color ease-in-out 0.1s;
                font-family: $open-sans-condensed;
                font-weight: bold;
                font-size: 1.5em;
                &:hover{
                    
                    color:$white-pink;
                }
                
            }
        }
    }
}


div.content, form{
    @include flex(column, no-wrap, center, center, center);
    width:100%;    
}

h2{
    font-size:2em;
    font-family: $open-sans-condensed;
    padding:1% 0;
}

section{
    width:100%;
    
    
    article{
        @include flex(row, no-wrap, center, center, center);
        
        font-size:1.3em;
        padding:1.2% 0;
        margin:1% 10%;
        width:auto;
        
        border-style:solid;
        border-width: medium;
        
        
        &.paid{
            //background is green and border is darker green
            background-color:$light-green;
            border-color:$medium-green;
        }
        
        &.unpaid{
            //background is light red and border is darker red
            background-color:$brown-pink;
            border-color:$light-red;
        }
        
        span{
            padding:0 1%;
            margin:0 3%;
            
            &.amount{
                font-weight: bold;
            
            }
        }
    }
}

input[type="text"]{
    
    &#tip{
        text-align: right;
        border-bottom: 2px solid black;
        margin-bottom:4%;
    }
}

div.notification{
    width:100%;
    text-align: center;
    background-color:$medium-green;
    color:$white-pink;
    font-size: 1.2em;
    padding:0.2%;
}

form.addbill{
    
    div.comment{
        width:100%;
        text-align: center;
        background-color:blue;
        
        font-size:1em;
        textarea{
            border: 3px solid black;
            padding:0.5% 1%;
            resize:none;
        }
    }
    
    
    >*{
        margin:1% 0;
    }
    
    .label{
        font-size:1.2em;
    }
    
    .total{
        background-color:blue;
        width:100%;
        
    }
    
    input[type="text"]{
        font-size: 1.2em;
    }
    
    div.pretipAndTip{
        @include flex(row, no-wrap, center, center, center);
        
        
        >*{
            margin:0 2%;
            
        }
        
        div.pretip{
            font-size:1.5em;
        }
        
        div.tip{
            text-align: center;
            font-size:1.3em;
            
            input{
                display: inline-block;
            }
            button{
                display: inline-block;
            }
        }
    }
}

div.total{
    font-size:1.4em;
    text-align: center;
}

button:hover{
    cursor:pointer;
}



button{
    padding:0 3%;
    
    &.pay{
        background-color:$light-green;
        border: solid thin $medium-green;
    }
}

a{
    font-family: inherit;
    font-size: inherit;
}



